.orderTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.orderStatus {
    margin-left: auto;
}

.orderItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.target {
    background-color: green;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}