.modalCloseButton {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.menuIcon {
    width: 32px;
    height: 32px;
}