.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.btn {
  padding: 10px 20px;
  background-color: #B88E2F;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}