.marketBody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settingsBtn {
    margin-left: auto;
    color: #7b7b7b;
    border: none;
    background-color: transparent;
}

.marketList {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.marketItem {
    width: calc((100% / 3) - 7px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #d6d6d6;
    transition: background-color 0.4s ease;
    border-radius: 10px;
}

.marketImage {
    width: 100%;
}

.marketName {
    font-weight: 900;
    font-size: 3.5vw;
}

.active {
    background-color: #97d77c;
    transition: background-color 0.4s ease;
}

.firstStage {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.button {
  background-color: transparent;
  color: #c04545;
  border: 3px solid #c04545;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: 700;
  text-align: center;
  min-width: 100px;
  max-width: fit-content;
}

.button:hover {
  background-color: #c04545;
  color: #fff;
}

.previewList {
    margin-top: 20px;
}

.previewItem {
    background-color: transparent;
    padding: 10px;
}

.secondItem {
    background-color: #dbdbdb;
}

.priceArea {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.priceArrow {
    transform: rotate(90deg);
}

.up {
    color: green;
}

.down {
    color: red;
}

.outdatedList {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 100%;
}

.outdatedItem {
    width: calc((100% / 3) - 15px);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}

.itemImage {
    max-width: 100%;
}

.itemArticle {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #fff9;
    padding: 0 3px;
    font-weight: 700;
}

.imageOk {
    position: absolute;
    top: -1px;
    right: 5px;
    background-color: #4da228;
    padding-top: 10px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addModalInput {
    text-align: center;
    padding: 3px 0;
}

.modalOkButton {
  background-color: transparent;
  color: var(--button-green);
  border: 3px solid var(--button-green);
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: 700;
  text-align: center;
}

.markup {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    align-items: center;
}

.marketLabel {
    display: flex;
    flex-direction: column;
}

.marketInput {

}

.importVariant {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.disabledInput {
    color: #949494;
    border: 1px solid #949494;
    border-radius: 3px;
}

.toggleBtn {
    height: 26px;
    border: 2px solid #949494;
    border-radius: 40px;
    position: relative;
    width: 60px
}

.toggleBullet {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: gray;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 3px;
    transition: left 0.5s, background-color 0.5s linear;
}

.activeBullet {
    background-color: green;
    left: 33px;
    transition: left 0.5s, background-color 0.5s linear;
}

.markupInput {
    max-width: 65px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid #bbbbbb;
    border-radius: 4px;
}

.saveBtn {
    display: flex;
    align-items: center;
    color: var(--button-green);
    background-color: transparent;
    border: none;
}

.refreshBtn {
    margin-left: 20px;
    color: var(--button-green);
    background-color: transparent;
    border: none;
}

@media screen and (width < 425px) {
    .outdatedItem {
        width: calc((100% / 2) - 10px);
    }
}

@media screen and (width > 570px) {
    .outdatedItem {
        width: calc((100% / 4) - 15px);
    }
}

@media screen and (width > 700px) {
    .outdatedItem {
        width: calc((100% / 5) - 15px);
    }
}

@media screen and (width > 1100px) {
    .outdatedItem {
        width: calc((100% / 6) - 15px);
    }
}